<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.smartcitytraveler">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivitySplash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ActivityStepDetails"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ActivityOptionDetails"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ActivityRouteOptionDetails"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MapNavActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ActivityMultiOption"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeDialog" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="XXXXXXXX"/>


    </application>




</manifest>